
<header class="navbar navbar-inverse navbar-fixed-top ix-nav">
	<div class="container-fluid">
		<div id="navbar-header">
			<button class="navbar-toggle collapsed" type="button"
				data-toggle="collapse" data-target=".ix-pagenav" id="ix-pagenavbtn"
				style="display: none;">
				<span class="sr-only">Toggle form navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<a class="navbar-brand analyticslog" id="lnkHomeHead"
				data-analyticsid="goToHome">
				<div id="ixInfinitiLogo">
					<img src="static/img/produce.svg" alt="Infiniti Logo" height="56"
						width="165"><span class="sr-only">Infiniti</span>
				</div>
			</a>
		</div>
		<nav>
			<ul class="nav navbar-nav navbar-home">
				<li><a id="lnkHome" title="Home" class="analyticslog"
					data-analyticsid="goToHome">Home</a></li>
			</ul>
			<p class="navbar-text form-title hidden-xs">New Quotation MVP 2
				Prod - SP</p>
			<ul class="nav navbar-nav navbar-right">
				<li id="loggedInUser">Welcome [[${profile}]]</li>
				<li id="LogoutMenu"><a id="lnkSignOut"
					class="signout-link analyticslog"
					href="https://www.insurancedistributor.hsbc.com.sg/produce/Account/LogOff"
					data-analyticsid="logoff">Log Out</a></li>
			</ul>
		</nav>
	</div>
</header>